
<div id="header_main">
	<ul id="header">
      <li><p><a href="/questions">Trending Questions</a></p></li>
  	</ul>
</div>

<div id="username">
<h1><p> <%=current_user.full_name %>, see what you missed</p><h1>
</div>

<form method=get action = "/users/<%=current_user.id%>/edit">
	<input type=submit value="Edit profile">
</form>

<form method=post action = /logout>
	<input type=submit value= "Logout">
</form>


<form method=post action = "/users/<%=current_user.id%>">
<input type="hidden" name="_method" value="delete">
	<input type=submit value= "Delete acc permanently">
</form>

<form method=get action = "/users/<%=current_user.id%>/questions/new">
	<input type=submit value= "Make a new post">
</form>

